<%# banner %>
<div>
  <%= render "shared/banner_profile" %>
  <div class="d-flex justify-content-end">
    <% if @user == current_user %>
      <%= link_to "editar perfil", edit_user_registration_path, class: "btn btn-ghost mb-3" %>
    <% end %>
  </div>
</div>

<div class="d-flex justify-content-between">
  <div class="programas-inscrições">
    <%# meus programas %>
    <div class="profile-programs">
      <div class="profile-programs-title mb-4">
        <h3 class="m-0">meus programas de mentoria</h3>
      </div>
      <div class="profile-programs-cards mb-5">
       <%= render "shared/card_small" %>
      </div>
    </div>
    <%# minhas inscrições %>
    <% if @user == current_user %>
      <div class="profile-subscriptions">
        <div class="profile-subscriptions-title mb-4">
          <h3>minhas inscrições</h3>
        </div>
        <div class="profile-subscriptions-cards mb-5">
          <%= render "shared/card_small" %>
        </div>
      </div>
    <% end %>
  </div>

  <%# minhas informações %>
  <div class="space-card-profile">
    <%= render "shared/card_profile" %>
  </div>
</div>
