<section class="h-100">
  <div class="container pt-5">
    <div class="col-lg d-flex justify-content-center align-items-center">
      <div class="col-lg d-flex justify-content-center">
        <%= image_tag "illustration-logo-login.svg", class: "illustration-login d-none d-lg-block"%>
      </div>
      <div class="col-lg d-flex flex-column justify-content-center align-items-center">
        <h1>cadastre-se</h1>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification class: "alert alert-danger", role: "alert" %>

    <div class="form-inputs">
      <%= f.input :name,
                  label: "nome",
                  required: true,
                  autofocus: true %>
      <%= f.input :email,
                  label: "e-mail",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :job,
                  label: "profissão",
                  required: false,
                  autofocus: true %>
      <%= f.input :company,
                  label: "empresa",
                  required: false,
                  autofocus: true %>
      <%= f.input :password,
                  label: "digite uma senha",
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  label: "confirme a senha",
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions mb-3">
      <%= f.button :submit, "cadastrar", class: "btn btn-flat w-100" %>
    </div>
  <% end %>

  <p>já tem cadastro? <%= link_to "entrar", new_session_path(resource_name) %></p>
</div>
