<%= form_with(model: program, class: "edit-form") do |f| %>
  <%= f.label :name, "nome do programa de mentoria" %>
  <%= f.text_field :name, class: "mb-4" %>
  <%= f.label :description, "resumo do programa " %>
  <%= f.text_area :description, class: "text-area" %>
  <%= f.label :about, "descrição do programa " %>
  <%= f.text_area :about, class: "text-area" %>
  <div class="button-container"><%= f.submit "criar", class: "mt-4 btn btn-flat" %></div>
<% end %>
