<div class="edit-form row col-lg">
  <%= form_with(model: program) do |f| %>
    <%= f.label :name, class: "row col-lg" %>
    <%= f.text_field :name, class: "row col-lg" %>
    <%= f.label :description, class: "row col-lg" %>
    <%= f.text_area :description, class: "row col-lg" %>
    <%= f.label :category, class: "row col-lg" %>
    <%= f.select :category, %w[Ruby JS CSS PMI Produtividade C# Empregos Exterior Python Mindset] %>
    <div><%= f.submit %></div>
  <% end %>
</div>
