<div class="container">
  <h1><%= @program.name %></h1>

  <p><%= @program.category %></p>
  <p><%= @program.description %></p>
  <p><%= @program.user.email %></p>

  <div class="m-1">
    <p>
      <span>
        <%= link_to "deletar programa", program_path(@program), data: { turbo_method: :delete, turbo_confirm: "Tem certeza que deseja apagar esse programa?" }%>
      </span>
      |
      <span>
        <%= link_to "voltar para programas", programs_path %>
      </span>
    </p>
  </div>
</div>
