<h1><%= @program.name %></h1>

<p><%= @program.category %></p>
<p><%= @program.description %></p>
<p><%= @program.user.email %></p>

<div>
  <%= link_to "Back to program", programs_path %>
  <%= link_to "Delete", @program, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this?" } %>

</div>
