<div>
  <%= render "shared/banner_program" %>
  <div class="d-flex justify-content-end">
    <% if @program.user == current_user %>
      <%= link_to "editar programa", edit_program_path, class: "btn btn-ghost mb-3" %>
    <% end %>
  </div>
</div>
<div class="program-page d-flex justify-content-between">
  <div class="program-text">
    <div class="program-about">
      <h2>sobre o programa</h2>
    </div>
    <div class="program-description justify-content-start mb-5">
      <p class="m-0"><%= @program.description %></p>
    </div>
    <div class="button-container">
      <% if !current_user.mentorships.exists?(program_id: @program.id)  %>
        <% if @program.user != current_user %>
          <%= form_with(url: mentorships_path(program_id: @program.id), method: :post) do |form| %>
            <%= form.submit "inscreva-se", class: "btn btn-flat button-banner " %>
          <% end %>
        <% end %>
        <% else %>
        <p>voce ja esta inscrito</p>
      <% end %>
    </div>
  </div>
  <%= render "shared/card_mentor" %>
</div>
