<div class="container mt-5">
  <div class="row">
    <% @programs.each do |program| %>
      <div class="program-cards col-md-3 mb-5">
        <div class="card-large shadow">
          <div class="card-large-header px-3">
            <h5 class="m-0 p-0"><strong><%= link_to program.name, program_path(program), class: "text-decoration-none"  %></strong></h5>
          </div>
          <div class="card-large-body">
            <p class="card-large-text px-3 py-2"><%= program.description %></p>
          </div>
          <div class="card-large-user">
              <%= link_to profile_path(User.find(program.user_id)) do %>
                <%= image_tag "avatar.svg" %>
              <% end %>
            <div class="card-large-user-info">
              <%= link_to User.find(program.user_id).name, profile_path(User.find(program.user_id)), class: "card-large-user-info-link" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>