<section class="h-100">
  <div class="container pt-5">
    <div class="col-lg d-flex justify-content-center align-items-center">
      <div class="col-lg d-flex justify-content-center">
        <%= image_tag "illustration-logo-login.svg", class: "illustration-login d-none d-lg-block"%>
      </div>
      <div class="col-lg d-flex flex-column justify-content-center align-items-center">
        <div class="col-lg d-flex flex-column justify-content-center align-items-center mb-3">
          <h1>log in</h1>
          <h5>acesse a plataforma</h5>
        </div>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs align-items-center">
            <%# email input %>
            <%= f.input :email, error: "e-mail é obrigatório, por favor especifique um",
                        label: "e-mail",
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%# password input %>
            <%= f.input :password,
                        label: "senha",
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%# remember me input %>
            <%= f.input :remember_me, label: "lembrar meus dados", as: :boolean if devise_mapping.rememberable? %>
          </div>
          <%# submit button %>
          <div class="form-actions mb-3">
            <%= f.button :submit, "entrar", class: "btn btn-flat w-100"%>
          </div>
        <% end %>
        <div>
          <%# forgot password %>
          <%= link_to "esqueci a senha", new_password_path(resource_name), class: "d-flex justify-content-center text-decoration-none" %>
          <%# register %>
          <div class="d-flex justify-content-center ml-3">
            <p class="text-muted">não tem conta?</p>
            <span style="margin-left: 8px;"><%= link_to "cadastre-se", new_registration_path(resource_name), class: "text-decoration-none" %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
